{% extends "base.html" %}

{% block content %}

<div class="booking-container">

    <div class="booking-card">
        <h2>🏥 Book Appointment</h2>

        <form method="POST">

            <label>Select Service</label>
            <select name="service_id" required>
    {% for service in services %}
    <option value="{{ service.id }}"
        {% if selected_service == service.id|string %}selected{% endif %}>
        {{ service.name }} - ₹{{ service.price }}
    </option>
    {% endfor %}
</select>

            <label>Select Date</label>
            <input type="date" name="date" required>

            <button type="submit">Confirm Booking</button>

        </form>
    </div>

</div>

{% endblock %}